# GitHub Personal Access Token (Server-Side only - never exposed to client)
# Needs 'repo' or 'contents:write' and 'actions:write' permissions
GH_PAT=

# Administrator Passcode to unlock scheme addition & management at /manage
ADMIN_PASSWORD=

# GitHub Repository details
NEXT_PUBLIC_GITHUB_REPO=vedantnathani/fund-ui
NEXT_PUBLIC_GITHUB_BRANCH=main
